/* :root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}
a:hover {
  color: #535bf2;
}

body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #1a1a1a;
  cursor: pointer;
  transition: border-color 0.25s;
}
button:hover {
  border-color: #646cff;
}
button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #f9f9f9;
  }
} */


:root {
  --blue: #4EA8DE;
  --blue-dark: #1E6F9F;
  
  --purple: #8284FA;
  --purple-dark: #5E60CE;

  --gray-100: #f2f2f2;
  --gray-200: #d9d9d9;
  --gray-300: #808080;
  --gray-400: #333333; 
  --gray-500: #262626;
  --gray-600: #1A1A1A;
  --gray-700: #0D0D0D;

  --danger: #F75A68;
}
/* tira a linha branca de seleção por padrão dos navegadores */
:focus{
  outline: transparent;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}


html {
  font-size: 62.5%;
}

body {
  background: var(--gray-600);
  color: var(--gray-100);

  /* aplica navegadores com webkit uma padronização da fonte para ficar mais fina */
  -webkit-font-smoothing: antialiased;
}

body,
input,
textarea,
button {
  font-family: "Inter", sans-serif;
  font-weight: 400;
  font-size: 1rem;
}



*::-webkit-scrollbar {
  width: 1rem;               /* width of the entire scrollbar */
}

*::-webkit-scrollbar-track {
  background: var(--gray-400);        /* color of the tracking area */
}

*::-webkit-scrollbar-thumb {
  background-color:var(--gray-200);    /* color of the scroll thumb */
  border-radius: 2rem;       /* roundness of the scroll thumb */
  border: 0.3rem solid var(--gray-400);  /* creates padding around scroll thumb */
}